alabaster==0.7.12
attrs==21.4.0
Babel==2.10.3
bconv==1.2.0
blis==0.7.8
bottle==0.12.23
catalogue==2.0.8
charset-normalizer==2.1.1
click==7.1.2
colorama==0.4.5
cymem==2.0.6
docopt==0.6.2
docutils==0.17.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.1.0/en_core_web_lg-3.1.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
filelock==3.8.0
huggingface-hub==0.9.1
idna==3.3
imagesize==1.4.1
importlib-metadata==4.12.0
importlib-resources==3.3.1
inflect==6.0.0
Jinja2==3.1.2
joblib==1.1.0
livereload==2.6.3
loguru==0.5.3
lxml==4.9.1
markdown-it-py==1.1.0
MarkupSafe==2.1.1
mdformat==0.7.16
mdformat_deflist==0.1.1
mdformat_frontmatter==0.4.1
mdformat_myst==0.1.4
mdformat_tables==0.4.1
mdit-py-plugins==0.2.8
murmurhash==1.0.8
nltk==3.7
num2words==0.5.12
numpy==1.21.6
OGER @ git+https://github.com/OntoGene/OGER.git@f23cf9bec70ba51f85605f26f3de2df72f7c4d5a
packaging==21.3
pandas==1.3.5
pathy==0.6.2
Pillow==9.2.0
preshed==3.0.7
pydantic==1.8.2
Pygments==2.13.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
quantulum3==0.7.10
regex==2022.8.17
requests==2.28.1
rst-to-myst==0.3.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
six==1.16.0
smart-open==5.2.1
snowballstemmer==2.2.0
spacy==3.1.1
spacy-legacy==3.0.10
Sphinx==4.2.0
sphinx-autobuild==2021.3.14
sphinx-press-theme==0.8.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srsly==2.4.4
thinc==8.0.17
tokenizers==0.12.1
tomli==2.0.1
torch==1.12.1
torchvision==0.13.1
tornado==6.2
tqdm==4.64.0
transformers==4.21.0
typer==0.3.2
typing-extensions==3.10.0.2
urllib3==1.26.12
wasabi==0.10.1
zipp==3.8.1

spacy==3.1.1
OGER @ git+https://github.com/OntoGene/OGER.git@f23cf9bec70ba51f85605f26f3de2df72f7c4d5a
torch==1.12.1
torchvision==0.13.1
loguru==0.5.3
quantulum3==0.7.10

# Sphinx
sphinx==4.2.0
sphinx-autobuild==2021.3.14
sphinx-press-theme==0.8.0
rst-to-myst==0.3.2